name: Generate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 11 * * *"

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate
        shell: bash
        env:
          name: Matthew Wilding
          email: mbwilding@gmail.com
          username: mbwilding
          commit: Generate assets
          args: username=mbwilding&hide_border=true&limit=100
        run: |
          output="assets"
          mkdir -p "$output"

          function commit() {
              if [[ "$(git status --porcelain)" != "" ]]; then
                  git config user.name "$name"
                  git config user.email "$email"

                  git commit -m "$commit"
                  git push
              else
                  echo "No changes"
              fi
          }

          function download() {
              path="$1"
              url="$2"

              echo "Downloading: $path | $url"

              if wget --quiet "$url" -O "$path"; then
                  if grep -q "</svg>" "$path"; then
                      git add "$path"
                  else
                      echo "Failed: Not an SVG"
                      rm -f "$path"
                  fi
              else
                  echo "Failed: Download"
                  rm -f "$path"
              fi
          }

          function generate() {
              local name="$1"
              local url="$2"

              base="$output/$name"

              path="${base}_dark.svg"
              full="${url}&${args}&theme=github_dark"
              download "$path" "$full"

              path="${base}_light.svg"
              full="${url}&${args}&theme=default"
              download "$path" "$full"
          }

          generate stats "https://readme-stats-nu.vercel.app/api?show_icons=true"
          generate languages "https://readme-stats-nu.vercel.app/api/top-langs/?layout=donut"
          generate contribs "https://github-contributor-stats.vercel.app/api?combine_all_yearly_contributions=true&hide=B,B%2B"

          commit
