name: Generate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 11 * * *"
  push:
    paths:
      - .github/workflows/generate.yml

jobs:
  generate:
    runs-on: ubuntu-latest
    env:
      project: github-tiles
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache
        id: cache
        uses: actions/cache@v5
        with:
          path: target/release/${{ env.project }}
          key: ${{ runner.os }}-cargo-${{ hashFiles('Cargo.*') }}-${{ hashFiles('**/*.rs') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.project }}-

      - name: Build
        if: steps.cache.outputs.cache-hit != 'true'
        run: cargo build --release

      - name: Generate SVGs
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          RUST_LOG: debug
        run: ./target/release/${{ env.project }}

      - name: Commit
        run: |
          git add assets/*.svg

          if [[ "$(git status --porcelain)" != "" ]]; then
            git config user.name "Matthew Wilding"
            git config user.email "mbwilding@gmail.com"
            git commit -m "Update stats"
            git push
          else
            echo "No changes"
          fi
