name: GitHub Tiles

on:
  workflow_dispatch:
  schedule:
    - cron: "0 11 * * *"

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: mbwilding/github-tiles@main
