name: Generate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 11 * * *"
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate
        shell: bash
        env:
          name: Matthew Wilding
          email: mbwilding@gmail.com
          username: mbwilding
        run: |
          output="assets"
          mkdir -p "$output"

          function commit() {
              status=$(git status --porcelain)

              if [[ "$status" != "" ]]; then
                  echo "$status"

                  echo "Configuring Git"
                  git config user.name "$name"
                  git config user.email "$email"

                  echo "Committing"
                  git commit -m "Generate"
                  git push
                  echo "Committed"
              else
                  "No changes"
              fi
          }

          function download() {
              path="$1"
              url="$2"

              echo "Downloading: $path | $url"
              if wget --quiet "$url" -O "$path"; then
                  echo "Downloaded"
                  git add "$path"
              else
                  echo "Failed"
              fi
          }

          function generate() {
              local name="$1"
              local url="$2"

              base="$output/$name"
              args="username=$username&hide_border=true"

              path="${base}_dark.svg"
              full="${url}&${args}&theme=github_dark"
              download "$path" "$full"

              path="${base}_light.svg"
              full="${url}&${args}&theme=default"
              download "$path" "$full"
          }

          generate stats "https://readme-stats-nu.vercel.app/api?show_icons=true"
          generate languages "https://readme-stats-nu.vercel.app/api/top-langs/?layout=donut"

          commit
