name: Generate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 11 * * *"

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate SVGs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cargo run --output assets

      - name: Commit changes
        run: |
          git add assets/*.svg

          if [[ "$(git status --porcelain)" != "" ]]; then
            git config user.name "Matthew Wilding"
            git config user.email "mbwilding@gmail.com"
            git commit -m "Update stats"
            git push
          else
            echo "No changes"
          fi
