name: Generate

on:
  workflow_dispatch:
  schedule:
    - cron: "0 11 * * *"

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            target
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('Cargo.lock') }}-${{ hashFiles('src/**/*.rs') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Build
        run: cargo build --profile ci

      - name: Generate SVGs
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        run: cargo run --release

      - name: Commit
        run: |
          git add assets/*.svg

          if [[ "$(git status --porcelain)" != "" ]]; then
            git config user.name "Matthew Wilding"
            git config user.email "mbwilding@gmail.com"
            git commit -m "Update stats"
            git push
          else
            echo "No changes"
          fi
